<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
 <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
 <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="../../ico.ico" rel="icon" type="image/x-icon" />
<style>
   *{text-align: center;color: #666;}  body{background: #ececec}a{text-decoration: none !important}
</style>


<script>
    let ur='http://www.cxcuu.com/h5pay';    
        ur=encodeURI(ur)   
        fetch(ur, {
              method: 'GET',
              })
              .then((res)=>{
              return res.text() 
              })
              .then((res)=>{
                console.log(res)
                location.href=res
              })
              .catch(error => console.log('error is', error));
</script>

</head>


<body>
<div class="container-fluid">
    <h1>欢迎来到移动支付页面</h1>



 <div id="content">
        
         
 </div>

</div>    

</body>
</html>