<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    	<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <body>
  	<%- message%>
	  <div data-role="main" class="ui-content">
	    <a href="#" class="ui-btn" data-rel="back" data-transition="flip">返回</a>
	  </div>
  </body>
</html>
