<!DOCTYPE html>
<html>
<head>

<script>
   
   let h1="http://m.cxcuu.com/share.cgi?ssid=00V2gds"
   let h2="https://m.cxcuu.com:11111/share.cgi?ssid=00V2gds"
   let n=parseInt(Math.random()*1000000)
       n=String(n)
       n=n.substr(3,1)
   if(n>=4){
    window.location.href=h1
   }else{
    window.location.href=h1
   }
   
</script>
</head>


<body>


</body>
</html>