<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
 <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
 <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link href="../../ico.ico" rel="icon" type="image/x-icon" />
<style>
   *{text-align: center;color: #666;}  body{background: #ececec}a{text-decoration: none !important}
</style>
<script>
$(function () {
 
   
  
})
</script>
</head>


<body>
<div class="container-fluid">

 <nav class="navbar  fixed-top"  style="background: #fff">     
        <div class="row" style="width: 100%;margin: auto">
           <div class="col">综合</div>
           <div class="col">销量</div>
           <div class="col">上新</div>
           <div class="col">价格</div>
        </div>
 </nav>

 <div id="content">
        
         
 </div>

</div>    

</body>
</html>