<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
<!-- 这样可以求掉浏览器一直报错：找不到favicon.ico， 加了这一句会无限循环重定向 -->
<!-- <link rel="shortcut icon" href="#" /> -->
</head>

<body style="color:#4a4a4a; font-size:14px;">
	<a style="font-weight:bold; font-size:20px; color: blue;">迷路了...</a><p>
	识别图中二维码关注"设计者之光"公众号，我们一起早起吧~<p>
	<div style="margin:0 auto; width:80%;">
		<img src="/getup/images/getup_poster.jpg" width="100%">
	</div>
	

</body>
</html>

