<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
 <script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.min.js"></script>
 <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
 <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
 <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
 <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<link href="../../ico.ico" rel="icon" type="image/x-icon" />
<script type="text/javascript">
	$(function  () {
	     		    new Vue({
				  el: '#app',
				  data: {
				    todos: [
				      { text: ['佛跳墙','7.8折','zk','7.8'] },
				      { text: ['LOHO眼镜','满399减40,599减80,799减120','mj','399-40,599-80,799-120']},
				      { text: ['乖乖宝贝','最低8.5折，满100抽奖','cz','100']},
				      { text: ['辣个帅锅','酸菜鱼5折','zk','5']},
				      { text: ['束秋','满300减50','mj','300,50']},
				      { text: ['沃尔玛','折上享满98送10元代金券','mj','98,10']},
				      { text: ['邻居家','8.8折','zk','8.8']},
				      { text: ['邻居家','蟹吃吃6.8折','zk','6.8']}
				    ]
				  }
				})
            
            
            $('.take').on('click',function  () {
            	
            	
            	let data={}
            	    data.user='<%- user%>'
            	    data.shopname=$(this).parent().prev().html() 
            	    data.type=$(this).next().html()
            	    data.val=$(this).next().next().html()
            	    data=JSON.stringify(data)
            	    
            	    console.log(data)
            	    
            	fetch('/jd_mobile?order=take_agio&data='+data, {
				 method: 'GET',
				})
				.then((res)=>{
				return res.json() 
				})
				.then((res)=>{
				     if(res==true){
				     	alert('领取成功')
				     }
				})
            	    
            	
            })
            
            
            
            
            
            $('#my_agio').click('on',function  () {
            	
            })
            
            
            
            
            
            
            
            
            
            
            
            
            
            
	})
	
</script>
  
</head>


<body>
<div class="container" style="padding: 20px;">	
	
	
	<div style="margin-bottom: 10px;"><img src="../cloud/ac/x1.jpg" width="100%"/></div>
	<div style="margin-bottom: 10px;"><img src="../cloud/ac/x2.jpg" width="100%"/></div>
	<div style="margin-bottom: 10px;"><img src="../cloud/ac/x3.jpg" width="100%"/></div>
	<div style="margin-bottom: 10px;"><img src="../cloud/ac/x4.jpg" width="100%"/></div>
	<div style="margin-bottom: 10px;"><img src="../cloud/ac/x5.jpg" width="100%"/></div>
	<div style="margin-bottom: 10px;"><img src="../cloud/ac/x6.jpg" width="100%"/></div>

	
	
	<!--<div style="text-align: center;color: #D3261F;font-size: 30px;font-weight: bold;margin-bottom: 20px;">5.1优惠券大放送</div>
	<div class="row" id="app">
	  <div class="col-6" v-for="i in todos">
	  	  <div class="card" style="margin-bottom: 10px;">
		    <div class="card-header bg-danger  text-white">{{i.text[0]}}</div>
		    <div class="card-body">
		    	<div  style="height: 60px;color: #D3261F;font-weight:bold;">{{i.text[1]}}</div>
		    	<button type="button" class="btn btn-info take">领取</button>
		    	<div style="display: none;">{{i.text[2]}}</div>
		    	<div style="display: none;">{{i.text[3]}}</div>
		    </div> 
		  </div>
	  </div>
	</div>-->
	
	
	
	
<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
 <button type="button" class="btn btn-danger" id="my_agio">我的优惠券</button>
</nav>-->
       
</div>


</body>
</html>