<nav class="navbar navbar-expand-sm  navbar-dark fixed-top" style="background: #fff;">
	<input class="form-control" type="text" placeholder="宝贝">
	<button class="btn btn-danger" type="button" style="margin-right:4%;right:0;position: absolute;">搜索</button>
</nav>
<div style="margin-bottom: 70px;">
	
</div>