<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
 <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
 <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
 <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
 <link href="../../ico.ico" rel="icon" type="image/x-icon" />
 <title>i am jd mobile page three</title>
 <script type="text/javascript">
	  let page=3;
	  document.addEventListener( "plusready", function(){
	// 扩展API加载完毕，现在可以正常调用扩展API
	var webview = plus.webview.currentWebview();
    plus.key.addEventListener('backbutton', function() {
    	
        webview.canBack(function(e) {
            if(e.canBack) {
                webview.back();
            } else {
                webview.close(); //hide,quit
                //plus.runtime.quit();
            }
        })
        
    });
  })
 </script>
</head>


<body style="background: #f5f5f5;">
	  	
		
<div class="container-fluid">
    
    
    
	<div style="padding-top: 20px;">
		<a href="#"><img src="../jd/images/mobile/page3/微信图片_20180507180432_02.png" width="100%"/></a>
	</div>

    
    <%- include foot%>
    
</div>


</body>
</html>