<!DOCTYPE html>
<html>
<head>
<script>
    sessionStorage.id='<%- id%>'
    sessionStorage.nickname='<%- nickname%>'
    location.href="http://www.cxcuu.com/jump?jump=jd/mobile/store_list/store_list"
</script>
</head>


<body>



</body>
</html>