<style type="text/css">
	#advert>a{width: 250px;float: left;display: block; margin-right: 20px;overflow: hidden;}
	#advert>a:hover{text-decoration: none;}
	#advert>a>img:nth-child(1){width: 270px;}
	#advert>a>div>span:nth-child(1){color: #ff4400;font-size:18px;font-weight: bold;}
	#advert>a>div>span:nth-child(2){color: #aaaaaa;text-decoration:line-through;}
	#advert>a>div:nth-child(3){font-size:13px ;color: #666666;}
	#advert>a>div:nth-child(4){font-size:13px ;color: #aaaaaa;}
</style>

<div id="advert" style="margin-top: 20px;">
	
	<a href="#">
		<img src="../../cloud/jd/轮播/现用/1.jpg"/>
		<div><span>¥ 149.00 </span><span>¥599.00</span> </div>
		<div>海信32 e 35a英寸ai智能高清平板</div>
		<div>销量：14</div>
	</a>
	
	<a href="#">
		<img src="../../cloud/jd/轮播/现用/1.jpg"/>
		<div><span>¥ 149.00 </span><span>¥599.00</span> </div>
		<div>海信32 e 35a英寸ai智能高清平板</div>
		<div>销量：14</div>
	</a>
	
	<a href="#">
		<img src="../../cloud/jd/轮播/现用/1.jpg"/>
		<div><span>¥ 149.00 </span><span>¥599.00</span> </div>
		<div>海信32 e 35a英寸ai智能高清平板</div>
		<div>销量：14</div>
	</a>
	
	<a href="#">
		<img src="../../cloud/jd/轮播/现用/1.jpg"/>
		<div><span>¥ 149.00 </span><span>¥599.00</span> </div>
		<div>海信32 e 35a英寸ai智能高清平板</div>
		<div>销量：14</div>
	</a>
	
	
	
	

</div>