<!DOCTYPE html>
<html>
<head>
 <script src="cdn/sha1.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<script src="cdn/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	
	*{margin: 0;padding: 0;}


	a{display: block;}.mian2-1>div{float: left;width: 410px;}.mian2-1>div>div{color: #666;}
	.mian2-1{width: 820px;float: left;margin-bottom: 100px;}
	.mian2-2{width: 260px;float: right;}.mian2-2 img{ width:260px}
	  @media screen and (max-width: 800px) {
    	
    	.mian2-1{width: 100%;float: left;}
    	.mian2-2{width: 100%;}.mian2-2 img{ width:100%}
    }
</style>

</head>


<body>
	
	<% include donation %>
	
<div class="page" >

<% include header %>


<div class="main"></div>

<div class="main1" style="text-align: center;"><img src="images/commonweal/logo1.jpg" width="100%"/></div>

<div class="main2" style="clear: both;padding-top: 20px;">
	<div style="font-size: 23px;">助力项目</div>
	
	<div class="mian2-1" >
		<div><img src="images/commonweal/collect1.png" width="400px" height="250px"/><a href="jump?jump=commonweal/hd1" class="project">“小象未来成长计划”</a><div style="color:#666;">您的每一份爱心，都能帮助到一名受灾地区的困境儿童。<br />
	<br />	
公益机构：中国华侨公益基金会
<br /><br />
<div><input type="button" value="我要捐款" class="want"/>本月<span style="color:red;">0</span>人捐款</div>
		</div></div>
		<div><img src="images/commonweal/show2.png"  width="400px" height="250px"/><a href="jump?jump=commonweal/hd2" class="project">“青禾计划”</a><div>为了扶助当地贫困户，YY直播平台将对当地农产品进行义卖，义卖所得利润全部作为善款将无偿捐赠给贫困农户。
		
			<br />	
公益机构:中国演出行业协会网络表演(直播)分会
        <br /><br />
		<div><input type="button" value="我要捐款" class="want"/>本月<span style="color:red;">2</span>人捐款</div>
		</div></div>
	</div>
	
	<div class="mian2-2" ><img src="images/commonweal/show1.png"/></div>
</div>

















</div>

<% include footer %>
</body>






</html>
