<!DOCTYPE html>
<html>
<head>
 <script src="cdn/sha1.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<script src="cdn/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	
	*{margin: 0;padding: 0;}

   
	a{display: block;}.mian2-1>div{float: left;width: 410px;}.mian2-1>div>div{color: #666;}
	body{width: 100%;}
		.mian2-1{width: 820px;float: left;margin-bottom: 100px;}
	.mian2-2{width: 260px;float: right;}.mian2-2 img{ width:260px}
	  @media screen and (max-width: 800px) {
    	
    	.mian2-1{width: 100%;float: left;}
    	.mian2-2{width: 100%;}.mian2-2 img{ width:100%}
    }
</style>

</head>


<body>

		<% include donation %>
<div class="page" >

<% include header %>


<div class="main"></div>

<div class="main1" style="text-align: center;"><img src="images/commonweal/logo1.jpg" width="100%"/></div>

<div class="main2">
	<div style="margin-top: 20px;margin-bottom: 20px;"> <img src="images/commonweal/show3.png" alt="" /></div>
	
	<div class="mian2-1" >
		<div>
			<img src="images/commonweal/culture.png" width="400px" height="250px"/>
			<a href="jump?jump=commonweal/hd4" class="project">非遗文化 鸬鹚捕鱼</a>
			<div style="color:#666;">项目预算
				通过直播让人们关注非遗文化的美，对非遗文化保护贡献力量
				<br />
				<br />	
				公益机构：中国华侨公益基金会
				<br /><br />
				<div>
					<input type="button" value="我要捐款" class="want"/>本月<span style="color:red;">0</span>人捐款
				</div>
			</div>
		</div>
		<div><img src="images/commonweal/culture1.png"  width="400px" height="250px"/><a href="jump?jump=commonweal/hd5" class="project">非遗文化 面塑</a><div>非遗文化保护基金
		
			<br />	
公益机构:中国演出行业协会网络表演(直播)分会
        <br /><br />
		<div><input type="button" value="我要捐款" class="want"/>本月<span style="color:red;">2</span>人捐款</div>
		</div></div>
	</div>
	
	<div class="mian2-2"><img src="images/commonweal/show1.png" /></div>
</div>

















</div>

<% include footer %>
</body>






</html>
