
<meta charset="UTF-8"/>
<script src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	a{text-decoration: none;}
	.donation{position: fixed;left: 0;right: 0;margin: auto;top:50px;border: 1px solid #ececec;width: 600px;height: 570px;}
    .money{margin-top: 10px;text-align: center;}
    .su:hover{cursor: pointer;}
     
     #img{width: 200px;}
         @media screen and (max-width: 800px) {
    	#img{width: 100px;}
    	.donation{position: fixed;left: 0;right: 0;margin: auto;top:0px;border: 1px solid #ececec;width: 90%;height: 470px;}
    }
</style>

<script type="text/javascript">
$(function  () {
	

	
	
	$('.close').click(function  () {
		$('.donation').hide()
	})

		$('.want').click(function  () {
		
	     $('.donation').toggle()
		
	var pro=$(this).parent().parent().parent().find('.project').html()
		
		 $('.pro').val(pro)
		
		
		})
	

})
</script>


<div class="donation" style="background: #fff;position: relative;position: fixed;display: none;z-index: 5;">
	<div style="background: #4e931c;height: 60px;line-height: 60px;color:#fff;padding-left: 30px;position: relative;">
		单笔捐款项目 ── 爱心包裹一对一圆梦
		<a href="#" class="close" style="color: #fff;position: absolute;right: 20px;top:-8px;font-size: 40px;font-family: '方正舒体';">x</a>
	
	</div>
	
	<div class="money" style="text-align: left;">
		<span style="margin-left: 20px;">捐款金额：</span><input class="money1" type="text" placeholder="(元)" style="height: 25px;border:2px solid #ececec;padding-bottom: -5px;padding-top: 5px;"/>
		<div style="text-align: left;margin-top: 10px;margin-left: 20px;" >发票地址：<input class="money1" type="text" placeholder="收货地址寄送发票" style="height: 25px;border:2px solid #ececec;padding-bottom: -5px;padding-top: 5px;"/></div>
	    <div style="text-align: left;margin-top: 10px;margin-left: 20px;" >收&nbsp&nbsp件&nbsp&nbsp人：<input class="money1" type="text" placeholder="收件人姓名" style="height: 25px;border:2px solid #ececec;padding-bottom: -5px;padding-top: 5px;"/></div>
	    
	    <div style="text-align: left;margin-top: 10px;margin-left: 20px;" >项&nbsp;&nbsp;目&nbsp;&nbsp;名：<input class="pro" type="text" placeholder="用户名/已经登陆不用输入" style="height: 25px;border:2px solid #ececec;padding-bottom: -5px;padding-top: 5px;"/><span style="font-size: 12px;color: red;font-weight: bold;">（项目动态向此登陆的会员反馈,注意查收邮件）</span></div>
	    
	    <div style="text-align: center;"><img src="images/commonweal/erwei.png" id="img"/></div>
	    
	</div>

	
	
	
	<div class="subdo">
		<a href="#" style="margin:auto;margin-top:20px;font-size:27px;border-radius: 5px;background: #4e931c;color: #fff;display: block;width: 200px;height: 50px;line-height: 50px;text-align: center;">确认捐赠</a>
	</div>
	
	<div class="erwei" style="display:none;position: absolute;left: 0;right: 0;margin: auto;top:30px;width: 200px;">
		<img src="images/commonweal/erwei.png" id="img" />
	</div>
	
	<script type="text/javascript">
		$(function  () {
			$('.subdo>a').click(function  () {
			
			var data=[]
			    data[0]=sessionStorage.user;
	            data[1]=[]
	            data[1][0]=$('.money1')[0].value+'元'
	            data[1][1]=$('.pro').val()
	            data[1][2]=$('.money1')[1].value
	            data[1][3]=$('.money1')[2].value
			$.ajax({
				type:"get",
				url:"commonweal",
				async:true,
			    data:{
			    	'order':'save',
			    	'data':data,
			    },
			    traditional : true,
			    success:function  (d) {
			    	if(d==true){
			    		alert('扫码后关闭窗口即可，后台会稍后同步数据')
			    	}else{
			    		
			    	}
			    },
			     error:function  (e) {
			     	alert('网络连接失败')
			     },
			
			});
			
			
			
			
			})
			
			
			
			
		})
	</script>
	
	
</div>