
<style type="text/css">
	  .footer{height:150px;width: 100%;clear: both;text-align: center;padding-top: 50px;}
	   
	    @media screen and (max-width: 800px) {
    	
    	height:150px;width: 100%;clear: both;text-align: center;padding-top: 50px;
    }
</style>

  <div class="footer" style="">
    <img src="images/commonweal/icp.png" width="100%"/>
  </div>   

