<!DOCTYPE html>
<html>
<head>
 <script src="cdn/sha1.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<script src="cdn/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	
	*{margin: 0;padding: 0;}	a{display: block;}

   body{height: 700px !important;}

</style>

</head>


<body>

<div class="page" >

<% include header %>
<div class="main">
	<div style="margin-top: 10px;"><img src="images/commonweal/laobing.png" alt="" width="100%"/></div>
	<div style="margin-top: 10px;"><img src="images/commonweal/jjh2.png" alt="" width="100%"/></div>
	<div style="margin-top: 10px;"><img src="images/commonweal/jjh3.png" alt="" width="100%"/></div>
</div>



</div>

<% include footer %>
</body>






</html>
