<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<script src="cdn/sha1.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>


<body>

<div data-role="page" data-theme="a" class=" ui-shadow">
	
	
  <div data-role="header">
   
  </div>
  


   <div data-role="main" class="ui-content">
      
	
		
		
   </div>
  
   <div data-role="footer" data-position="fixed">

    </div>
  
  
</div>
</body>
</html>

