<!DOCTYPE html>
<html>
<head>
 <script src="cdn/sha1.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="cdn/sha1.js" type="text/javascript" charset="utf-8"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	
	@media screen and (min-width: 800px) {
		
	
	*{margin: 0;padding: 0;}a{text-decoration: none;}
	.page{width: 1100px;text-align:left;margin: auto;font-family: "微软雅黑";font-size: 13px;position: relative;}
	.line{border:1px solid #dcdcdc ;height: 1100px;position:absolute;left:710px;top:165px;}
	.row2{width: 257px;height:25px;clear:all;position: absolute;right: 0;margin-top: 10px;}
	.row2>div>div:hover{cursor:pointer;}
	.main{position: relative;margin-top: 10px;float: left;height: 300px;}
	.main>div{position: absolute;left: 0;font-size: 30px;bottom:15px;color: #fff;border: 1px solid #ececec;}.main>div:hover{cursor: pointer;}
	.main>div:nth-child(2){left: 200px;}.main>div:nth-child(3){left: 225px;}.main>div:nth-child(4){left: 250px;}.main>div:nth-child(5){left: 275px;}.main>div:nth-child(6){left: 300px;}.main>div:nth-child(7){left: 325px;}.main>div:nth-child(8){left: 350px;}
    .main2{margin-top: 10px;float: right;width: 400px;}.line2{border:1px solid #dcdcdc ;width: 636px;clear: both;margin-top: 330px;}
    .main2>div:nth-child(1){margin: auto;width: 200px;margin-top: 20px;}
    
    .mainz{width: 636px;float: left;margin-top: 130px;clear: both;color: #666;}.mainz>.pack{clear: both;padding-top: 30px;}
    .mainr{width: 325px;float: right;}.mainr .a1{font-size: 30px;float: left;color: #666666;}.mainr .a2{float: right;margin-top:10px;text-decoration: color:#579f23 ;}.mainr .a1:hover{color: #579f23;}.mainr .a2:hover{text-decoration: underline;}
    .mainr .pack>div:nth-child(1){border-bottom:1px solid #666666;height: 50px;}
    
    
    }
    
    
    @media screen and (max-width: 800px) {
    	#pci{width: 100%;}
    	  .mainr{clear: both;}
    	  
    	  .mainz{width:100%;color: #666;clear: both;}.mainz>.pack{clear: both;padding-top: 3px;}
    	  .mainz>.pack img{width: 100%;}
    }
</style>



</head>


<body>

	
<div class="page">
<div class="line">
	
</div>

	
	<div class="row2" style="margin-top: 34px;">
		
	
	     <script type="text/javascript">
	     	
	     	$('#search').click(function  () {
	     		
	     		location.href='https://www.baidu.com/baidu?wd='+$('#searchText').val()
	     		
	     		
	     	})

	     </script>
	
	</div>
	
	

<% include header %>

    <div class="main">
    	<a href="/jump?jump=commonweal/hd3"><img src="images/commonweal/love1.png" width="638px" id="pci"/></a>
    	<!--<div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div>-->
    </div>
    
    <div class="main2" >
    	<div><img src="images/commonweal/su1.png" width="200px"/></div>
        <div style="text-align: center;margin: auto;margin-top: 30px;"><a href="/jump?jump=commonweal/make" style="margin-right: 20px;"><img src="images/commonweal/ss1.png" width="150px"/></a><a href="/jump?jump=commonweal/love"><img src="images/commonweal/ss2.png" width="150px"/></a></div>
    </div>

       
      <div class="line2"></div> 
      
    <div class="mainz">
    	
    	<div class="pack">
    		<div class="left" style="float: left;height:150px;overflow: hidden;">
    			<img src="images/commonweal/hd13.png" width="220px"/>
    		</div>
    		<div class="right" style="float: left;margin-left: 30px;">
    			<a href="/jump?jump=commonweal/hd1" style="font-size: 25px;margin-top: 20px;display: block;color: #666;">扶贫聚力</a>
    			<a href="/jump?jump=commonweal/hd1" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">小象未来成长计划</a>
    			<a href="/jump?jump=commonweal/hd1" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">基诺山区扶贫济困</a>
    		</div>
    	</div>
    	
    	<div class="pack">
    		<div class="left" style="float: left;height: 150px;overflow: hidden;">
    			<img src="images/commonweal/culture.png" width="220px"/>
    		</div>
    		<div class="right" style="float: left;margin-left: 30px;">
    			<a href="/jump?jump=commonweal/hd4" style="font-size: 25px;margin-top: 20px;display: block;color: #666;">非遗保护</a>
    			<a href="/jump?jump=commonweal/hd4" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">非物质文化遗产保护</a>
    			<a href="/jump?jump=commonweal/hd4" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">鸬鹚捕鱼</a>
    		</div>
    	</div>
    	
    	<div class="pack">
    		<div class="left" style="float: left;height: 150px;overflow: hidden;">
    			<img src="images/commonweal/hd2.png" width="220px"/>
    		</div>
    		<div class="right" style="float: left;margin-left: 30px;">
    			<a href="/jump?jump=commonweal/hd2" style="font-size: 25px;margin-top: 20px;display: block;color: #666;">扶贫聚力</a>
    			<a href="/jump?jump=commonweal/hd2" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">青禾计划</a>
    			<a href="/jump?jump=commonweal/hd2" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">山西省永和县扶贫济困</a>
    		</div>
    	</div>
    	
    	<div class="pack">
    		<div class="left" style="float: left;height:150px;overflow: hidden;">
    			<img src="images/commonweal/love1.png" width="220px"/>
    		</div>
    		<div class="right" style="float: left;margin-left: 30px;">
    			<a href="/jump?jump=commonweal/hd3" style="font-size: 25px;margin-top: 20px;display: block;color: #666;">爱心聚焦</a>
    			<a href="/jump?jump=commonweal/hd3" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">关爱山村</a>
    			<a href="/jump?jump=commonweal/hd3" style="font-size: 17px;margin-top: 10px;display: block;color: #666;">山村支教公益项目</a>
    		</div>
    	</div>
   
    	
    </div>   
    
    
    <div class="mainr">

    	<div class="pack">
    		<div style="margin-bottom: 20px;"><a href="#" class="a1">新闻聚焦</a><a href="#" class="a2" style="color: #579f23;">更多</a></div>
    		<a href="/jump?jump=commonweal/hd1" ><img src="images/commonweal/r1.jpg"/></a>
    		
    	</div>
    	
    	
    	<div class="pack">
    		<div style="margin-bottom: 20px;"><a href="#" class="a1">善款公开</a><a href="#" class="a2" style="color: #579f23;">更多</a></div>
    		<a href="https://v.qq.com/x/cover/klgcohnum6fbcsi/k05011c19bh.html" ><img src="images/commonweal/r2.jpg"/></a>
    		
    	</div>
    	
    	<div class="pack">
    		<div style="margin-bottom: 20px;"><a href="#" class="a1">扶助回访</a><a href="#" class="a2" style="color: #579f23;">更多</a></div>
    		<a href="/jump?jump=commonweal/hd2" ><img src="images/commonweal/r3.jpg"/></a>
    		
    	</div>
    	
    	
    	
    </div>
       
       
       
  
       
       
       
       

</div>


	
<% include footer %>
</body>






</html>
    
    <script type="text/javascript">
    	/*$(function  () {
    		var arr =['round1.jpg','round2.jpg','round3.jpg','round4.jpg','round5.jpg','round6.jpg','round7.jpg']
    		
    		$('.main>img')[0].src='images/commonweal/'+arr[0]
    		
    		var timeR,n=0
    		
    		roun()
    		
    		function roun () {
    			$('.main>div').css('background','none')
    			if(n<=6){
    				$('.main>img')[0].src='images/commonweal/'+arr[n]
    				
    			}else{
    					n=0
    				$('.main>img')[0].src='images/commonweal/'+arr[n]
	
    			}
    			
    			$('.main>div').eq(n).css('background','#438513')
    			n++
    		timeR=setTimeout(roun,2000)}
    		
    		
    		$('.main').mouseenter(function  () {
    			clearTimeout(timeR)
    		})
    		$('.main').mouseleave(function  () {
    			timeR=setTimeout(roun,2000)
    		})
    		
    		$('.main>div').click(function  () {
    				$('.main>div').css('background','none')
    			$(this).css('background','#438513')
    			n=$(this).html()-1
    			$('.main>img')[0].src='images/commonweal/'+arr[n]
    		})
    		
    		
    	})*/
    </script>